/* Geral */

body, p, h1, h2, textarea {
    margin: 0px;
    font-family: Roboto;
}

h2 {
    font-size: 30px;
}

/* navbar */
#navbar {
    background-color: #284d34;
    color: #FFF;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    height: 40px;
    position: absolute;
    top: 10px;
}

#navbar nav {
    float: right;
}

#navbar ul {
    margin: 22px;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: #FFF;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #FFF;
}

/* banner */

#main-banner {
    height: 70vh;
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
    padding-top: 15vh;
}

#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: rgb(58, 58, 58);
    padding: 50px;
}

#banner-info img {
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p {
    background-color: #284d34;
    font-weight: bold;
    width: 200px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
}

/* about */

#about-section {
    text-align: center;
    background-color: #284d34;
    color: #FFF;
    padding-top: 50px;
    height: 350px;
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

/* skils */

#skils-section {
    margin-top: -100px;
    background-color: #FFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DDD;
    border-radius: 10px;
}

#skils-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skils-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.skils-container h3 {
    color: #284d34;
    font-size: 20px;
}

.skils-container img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-left: 1px solid #284d34;
    border-top: 1px solid #284d34;
    border-right: 4px solid #284d34;
    border-bottom: 4px solid #284d34;
}

.skils-container .subtitle {
    font-weight: bold;
    color: #284d34;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skils-container p {
    line-height: 25px;
}

/* jobs */

#jobs-section {
    text-align: center;
    margin-top: 50px;
}

#jobs-section h2 {
    color: #284d34;
    margin-bottom: 30px;
}

#jobs-section p {
    margin-bottom: 50px;
}

#jobs-section a {
    font-weight: bold;
    color: #284d34;
}

.job-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.job-box {
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover;
    border-right: 2px solid #284d34;
    border-bottom: 2px solid #284d34;
}

.proj1 {
    background-image: url('../img/proj1.jpg');
}

.proj2 {
    background-image: url('../img/proj2.jpg');
}

.proj3 {
    background-image: url('../img/proj3.jpg');
}

#Contact-footer a {
    font-weight: bold;
    color: #0c0c0c;
}
/* footer */

footer {
    padding: 50px 0;
    background-color: #284d34;
    color: #FFF;
    text-align: center;
}

footer img {
    height: 50px;
    margin: 30px 0;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail {
    font-weight: bold;
}

/* responsive celulares */

@media(max-width:450px) {
    /* geral */
    p, input, textarea {
        font-size: 1.2rem;
    }
    /* navbar */
    #navbar h2 {
        display: none;
    }

    #navbar img {
        top: 9px;
    }

    #navbar ul {
        margin-top: 1.1rem;
    }

    /* banner */

    #main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }

    #banner-info {
        width: 60%;
    }

    #banner-info p {
        margin: 0;
        width: auto;
    }

    /* about */

    #about-section {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }

    /* skils */

    #skils-section {
        margin-top: -35px;
        width: 90%;
    }

    #skils-section .container {
        flex-direction: column;
    }

    .skils-container h3, .skils-container .subtitle {
        font-size: 1.3rem;
    }

    .skils-container {
        padding: 25px;
    }
    .skils-container.central {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
    }

    /* jobs */
    #jobs-section h2, #jobs-section p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .job-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .job-box {
        margin-bottom: 2rem;
        flex: 1 1 300px;
    }

    /* footer */
    
    footer {
        padding: 50px, 15px;   
    }

    footer form {
        width: 100%;
    }

    .detail {
        margin-top: 10px;
        display: block;
    }
}